@import "tailwindcss";
@import "swiper/css";
@import "swiper/css/navigation";

:root {
  --background:#F3F3F3;

}

@theme inline {
  --color-define-black:#222222;
  --color-define-brown:#4A180E;
  --color-define-red:#D42300;
  --color-define-pink:#FFE7E4;
  --color-define-white:#EEEEEE;

  
  --shadow-defined-light: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

  --breakpoint-xlg: 90rem;
  --breakpoint-xxl: 120rem;

}

  .btn-grad{
    @apply bg-linear-to-r from-define-brown to-define-red shadow-md shadow-define-brown/30 transition-all duration-300 hover:from-define-red hover:to-define-brown hover:shadow-lg hover:shadow-define-red/40
  }

.custom-scroll::-webkit-scrollbar {
  width: 0.5px;
}

.custom-scroll::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.custom-scroll::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.35);
}

/* Firefox */
.custom-scroll {
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.3) transparent;
}

.no-scrollbar {
  /* Firefox */
  scrollbar-width: none;
  
  /* IE/Edge */
  -ms-overflow-style: none;
}

/* Chrome/Safari/Webkit */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

@keyframes slideDown {
  from {
    max-height: 0;
    opacity: 0;
  }
  to {
    max-height: 1000px;
    opacity: 1;
  }
}

  html {
    @apply scroll-smooth;
  }

  button {
    @apply cursor-pointer rounded-3xl hover:scale-105 transition-all duration-300 ease-in-out;
  }
